* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fc {
  color: #fff !important; 
}


.fc-theme-standard td, 
.fc-theme-standard th, 
.fc-theme-standard .fc-scrollgrid {
  border-color: #444 !important; 
}


.fc-button-primary {
  background-color: #333 !important;
  border-color: #555 !important;
  text-transform: capitalize !important;
}
.fc-button-primary:hover {
  background-color: #555 !important;
}


.fc-col-header-cell-cushion, 
.fc-daygrid-day-number, 
.fc-timegrid-slot-label-cushion {
  color: #ddd !important;
  text-decoration: none !important;
}


.fc-timegrid-slot {
  border-bottom: 1px dashed #333 !important; 
}